h1 {
    color: red;
}

#food-title {
    color: green;
    background-color: gold;
}

.food .foreign {
    font-weight: 700;
}

.bg-red {
    background-color: red;
}

.bold {
    font-weight: 700;
}

.big {
    font-size: 3em;
}